<h1><%=@info[:name]%></h1>
<h1>Team Motto: <%=@info[:motto]%></h1>

<h1>Hero Name: <%=@info[:member][0][:name]%></h1>
<h1>Hero Power: <%=@info[:member][0][:power]%></h1>
<h1>Hero Biography: <%=@info[:member][0][:bio]%></h1>

<h1>Hero Name: <%=@info[:member][1][:name]%></h1>
<h1>Hero Power: <%=@info[:member][1][:power]%></h1>
<h1>Hero Biography: <%=@info[:member][1][:bio]%></h1>

<h1>Hero Name: <%=@info[:member][2][:name]%></h1>
<h1>Hero Power: <%=@info[:member][2][:power]%></h1>
<h1>Hero Biography: <%=@info[:member][2][:bio]%></h1>

